.main {
  display: flex;
  height: 100%;
  width: 1240px;
  overflow: hidden;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  margin-top: 120px;
  margin-right: 60px;
  width: 100%;
}

.menu {
  width: 320px;
  flex-shrink: 0;
}

.orders {
  flex: 1;
  width: calc(100% - 320px);
  overflow-y: auto;
}

.emptyState {
  display: flex;
  justify-content: flex-start;
  margin-block-start: 80px;
  margin-inline-start: 160px;
  min-height: 400px;
  text-align: center;
}

.emptyText {
  color: #8585ad;
  margin: 0;
  font-size: 30px;
}
